{
	"$schema": "https://json.schemastore.org/eslintrc",
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:solid/typescript",
		"@unocss",
		"prettier",
		"plugin:astro/recommended"
	],
	"plugins": [
		"solid",
		"@typescript-eslint"
	],
	"rules": {
		"@typescript-eslint/consistent-type-imports": "error"
	},
	"parser": "@typescript-eslint/parser",
	"overrides": [
		{
			"files": [
				"*.astro"
			],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser",
				"extraFileExtensions": [
					".astro"
				]
			}
		}
	]
}