{
	"$schema": "https://json.schemastore.org/eslintrc",
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:solid/typescript",
		"prettier"
	],
	"plugins": [
		"solid",
		"@typescript-eslint"
	],
	"rules": {
		"@typescript-eslint/consistent-type-imports": "error",
		"no-undef": "off"
	},
	"parser": "@typescript-eslint/parser"
}