---
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import ToastWrapper from "@/components/toast-wrapper";
import { siteConfig } from "@/config/site";
import "./main.css";
import "./mdx.css";

type Props = {
	title?: string;
	description?: string;
	url?: string;
};

const { title, description, url } = Astro.props;
---

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{title ?? siteConfig.title}</title>
        <meta
            name="description"
            content={description || siteConfig.description}
        />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title || siteConfig.title} />
        <meta
            name="twitter:description"
            content={description || siteConfig.description}
        />
        <meta name="twitter:image" content="https://shadcn-solid.com/og.png" />
        <meta name="twitter:image:alt" content={title || siteConfig.title} />
        <meta name="twitter:creator" content="@hnggngnn" />

        <meta property="og:title" content={title || siteConfig.title} />
        <meta
            property="og:description"
            content={title || siteConfig.description}
        />
        <meta property="og:url" content={url || siteConfig.url} />
        <meta property="og:site_name" content={title || siteConfig.title} />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="https://shadcn-solid.com/og.png" />
        <meta property="og:alt" content={title || siteConfig.title} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta property="canonical" content={url || siteConfig.url} />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="shortcut icon" href="/favicon-16x16.png" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link
            rel="preload"
            href="/fonts/GeistVariableVF.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />

        <style type="text/css">
            @font-face {
                font-family: "Geist Sans Variable";
                src: url("/fonts/GeistVariableVF.woff2") format("woff2");
                font-display: swap;
            }
        </style>

        <ViewTransitions />
    </head>
    <body>
        <div class="relative flex min-h-screen flex-col">
            <Header />
            <div class="flex-1">
                <slot />
            </div>
            <Footer />
            <ToastWrapper client:only="solid-js" />
        </div>
    </body>
</html>
