[data-theme="light"] {
	display: block;
}

[data-theme="dark"] {
	display: none;
}

[data-kb-theme="dark"] {
	pre[data-theme="light"],
	div[data-theme="light"] {
		display: none;
	}

	pre[data-theme="dark"],
	div[data-theme="dark"] {
		display: block;
	}

	[data-rehype-pretty-code-fragment] .word--highlighted {
		@apply bg-zinc-900;
	}
}

[data-rehype-pretty-code-fragment] {
	@apply relative;

	code {
		@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
		counter-reset: line;
		box-decoration-break: clone;
	}

	.line {
		@apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
	}

	[data-line-numbers] {
		.line {
			@apply px-2;
		}

		> .line {
			&::before {
				@apply text-muted-foreground/40 text-xs inline-block w-1.8rem mr-1.4rem text-right;
				counter-increment: line;
				content: counter(line);
			}
		}
	}

	.line--highlighted {
		@apply bg-zinc-700/50;
		& span {
			@apply relative;
		}
	}

	.word--highlighted {
		@apply rounded-md bg-zinc-700/50 border-zinc-700/70 p-1;
	}
}

[data-rehype-pretty-code-title] {
	@apply mt-2 pt-6 px-4 text-sm font-medium;

	+ pre {
		@apply mt-2;
	}
}

[data-metadata] > button {
	@apply top-16;
}

.mdx-pre-tag {
	counter-reset: step;

	> h3 {
		counter-increment: step;

		&::before {
			@apply content-[counter(step)] absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background -ml-50px -mt-4px;
		}
	}
}

.mdx-example {
	pre {
		@apply mt-0 max-h-350px overflow-auto;
	}
}
