[data-theme="light"] {
	display: block;
}

[data-theme="dark"] {
	display: none;
}

.dark {
	[data-theme="light"] {
		display: none;
	}

	[data-theme="dark"] {
		display: block;
	}
}

[data-rehype-pretty-code-fragment] {
	@apply relative;

	code {
		@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
		counter-reset: line;
		box-decoration-break: clone;
	}

	.line {
		@apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
	}

	[data-line-numbers] .line {
		@apply px-2;
	}

	[data-line-numbers] > .line::before {
		@apply text-muted-foreground/40 text-xs;
		counter-increment: line;
		content: counter(line);
		display: inline-block;
		width: 1.8rem;
		margin-right: 1.4rem;
		text-align: right;
	}

	.line--highlighted {
		@apply bg-muted;
	}

	.line-highlighted span {
		@apply relative;
	}

	.word--highlighted {
		@apply rounded-md bg-muted border-muted border p-1;
	}

	.dark & {
		.word--highlighted {
			@apply bg-zinc-900;
		}
	}
}

[data-rehype-pretty-code-title] {
	@apply mt-2 pt-6 px-4 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
	@apply mt-2;
}

[data-metadata] > button {
	@apply top-16;
}

p.mdx-p-tag:not(:first-child) {
	@apply mt-6;
}

div.mdx-pre-tag {
	counter-reset: step;
	> h3 {
		counter-increment: step;

		::before {
			@apply content-[counter(step)] absolute w-8 h-8 bg-muted rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px -ml-48px;
		}
	}
}

.mdx-example {
	pre {
		@apply mt-0 max-h-350px overflow-auto;
	}
}
