---
import { MainLayout } from "@/layouts"
---

<MainLayout>
	<div class="items-center justify-center flex min-h-inherit">
		<div class="prose">
			<h1>Work on progress</h1>
		</div>
	</div>
</MainLayout>
