---
const props = Astro.props;
---

<a
    class="flex w-full flex-col items-center rounded-xl border bg-card p-6 text-card-foreground shadow transition-colors hover:bg-muted/50 sm:p-10"
    {...props}
>
    <slot />
</a>
