---
import { Separator } from "@repo/tailwindcss/ui/separator";
---

<a
	href="/docs/changelog"
	class="inline-flex items-center rounded-lg bg-muted px-3 py-1 text-sm font-medium"
>
	✨
	<Separator
		class="mx-2 data-[orientation=vertical]:h-4"
		orientation="vertical"
	/>
	<span class="sm:hidden">New components</span>
	<span class="hidden sm:inline">Navigation Menu</span>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		class="ml-1 h-4 w-4"
		viewBox="0 0 24 24"
	>
		<path
			fill="none"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M5 12h14m-4 4l4-4m-4-4l4 4"></path>
		<title>Go to changelog</title>
	</svg>
</a>
