---
import { docsConfig, siteConfig } from "@/config"
import { Logo } from "../icons"

const { pathname } = Astro.url
---

<div class="mr-4 hidden md:flex">
	<a href="/" class="mr-6 flex items-center space-x-2">
		<Logo class="h-6 w-6" />
		<span class="hidden font-bold sm:inline-block">{siteConfig.title}</span>
	</a>
	<nav class="flex items-center space-x-6 text-sm font-medium">
		{
			docsConfig.mainNav.map((item) => (
				<a
					href={item.href!}
					class:list={[
						"transition-colors hover:text-foreground/80 text-foreground",
						{
							"opacity-60": pathname !== item.href,
						},
					]}
				>
					{item.title}
				</a>
			))
		}
	</nav>
</div>
