---
import type { TSidebarNavItem } from "@/types"
type Props = {
	items: TSidebarNavItem[]
}

const { items } = Astro.props
const { pathname } = Astro.url
---

<div class="grid grid-flow-row auto-rows-max text-sm">
	{
		items.map((item) => (
			<Fragment>
				{item.href ? (
					<a
						href={item.href!}
						class:list={[
							"flex w-full items-center rounded-md border border-transparent p-2 hover:underline text-foreground",
							{
								"cursor-not-allowed opacity-60": item.disabled,
								"font-medium": pathname === item.href,
								"text-muted-foreground": pathname !== item.href,
							},
						]}
						target={item.external ? "_blank" : ""}
						rel={item.external ? "noreferrer" : ""}
					>
						{item.title}
						{item.label ? (
							<span
								class:list={[
									"ml-2 rounded-md bg-#adfa1d px-1.5 py-0.5 text-xs leading-none text-#000000 no-underline group-hover:no-underline",
									{
										"bg-muted text-muted-foreground":
											item.label === "Soon",
									},
								]}
							>
								{item.label}
							</span>
						) : null}
					</a>
				) : (
					<span class="flex w-full cursor-not-allowed items-center rounded-md p-2 text-muted-foreground hover:underline">
						{item.title}
					</span>
				)}
			</Fragment>
		))
	}
</div>
