---
import { cn } from "@/libs/cn";

const examples = [
	{
		name: "Mail",
		href: "/examples/mail",
	},
	{
		name: "Cards",
		href: "/examples/cards",
	},
	{
		name: "Authentication",
		href: "/examples/authentication",
	},
];

const { pathname } = Astro.url;
---

<div class="relative">
	<div class="mb-4 flex items-center justify-center">
		{
			examples.map((item, index) => (
				<a
					href={item.href}
					class={cn(
						"flex h-7 items-center justify-center rounded-full px-4 text-center text-sm font-medium transition-colors hover:text-primary",
						pathname.startsWith(item.href) ||
							(index === 0 && pathname === "/")
							? "bg-muted text-primary"
							: "text-muted-foreground",
					)}
				>
					{item.name}
				</a>
			))
		}
	</div>
</div>
