:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6%;
    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 59%;
    --border: 220 85% 47%;
    --alt-border: 0 0% 89%;
    --ring: 220 85% 50%;
    --active: 220 85% 50%;
    --destructive: 0 72% 55%;
    --destructive-foreground: 0 72% 50%;
}

.dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;
    --accent: 0 0% 8%;
    --border: 220 85% 55%;
    --alt-border: 0 0% 14%;
    --destructive-foreground: 0 72% 60%;
}

* {
    @apply border-alt_border ring-ring ring-offset-background;
}

body {
    @apply bg-background font-sans text-foreground antialiased;
}