# Adapted from create-t3-app.

name: Preview Release

on: pull_request

jobs:
  prerelease:
    if: github.repository_owner == 'hngngn'
    name: Build & Publish
    runs-on: ubuntu-latest
    environment: Preview

    steps:
      - name: Check for CLI label
        id: check-label
        uses: actions/github-script@v8
        with:
          script: |
            const { data: pr } = await github.rest.issues.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number
            });

            const hasCliLabel = pr.labels.some(label => label.name === 'cli');
            core.setOutput('has_cli_label', hasCliLabel);

      - name: Stop if no "cli" label
        if: steps.check-label.outputs.has_cli_label != 'true'
        run: |
          echo "This PR does not have the 'cli' label. Skipping job."
          exit 1

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build CLI
        run: pnpm -F shadcn-solid build

      - name: Publish Previews
        run: pnpx pkg-pr-new publish --pnpm './packages/cli' --bin
